@import url(bootstrap);
@import url(bootstrap-icons);

/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dd-primary-dark: #c97b2b;
    --dd-primary-light: #e2b854;
    --dd-secondary-dark: #562a69;
    --dd-secondary-light: #6f397c;
    --dd-black: #000000;
    --dd-white: #ffffff;
}

h3,
h5 {
    color: var(--dd-secondary-dark);
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* utils */
.badge_category {
    font-size: 0.8rem;
    padding: 2px 8px;
    color: var(--dd-white);
    background-color: var(--dd-primary-dark);
    border: none;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    position: absolute;
    top: -5%;
    right: 4%;
    box-shadow: 0 0.5rem 1rem rgba(86, 42, 105, 0.25);
}

.btn-compare,
.btn-clear_favorites {
    color: white;
    background-color: var(--dd-secondary-light);
    font-weight: 500;
    border: none;
    padding: 2px;
    cursor: pointer;
}

.btn-compare:hover,
.btn-favorite:hover,
.btn-clear_favorites:hover {
    transform: scale(1.025);
    background: var(--dd-secondary-dark);
}

.btn-favorite {
    padding: 2px;
    background-color: var(--dd-secondary-light);
    border: none;
}

.heart-active,
.heart-inactive {
    color: var(--dd-white);
    font-size: 0.9rem;
    padding: 2px 3px;
}

.heart-active {
    color: #ee9c4a;
}

/* header */
header {
    height: 80px;
    padding: 0;
    background: linear-gradient(90deg, rgba(201, 123, 43, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(86, 42, 105, 1) 100%)
}

#logo {
    height: 80px;
}

/* main */
main {
    background-color: #ededed
}

/* section lista */
.section_list {
    width: 90%;
    margin: 0 auto;
}

/* Cards Lista */
.card_list,
.card_bg_detail {
    background-color: var(--dd-white);
    border: 2px solid var(--dd-secondary-light);
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(86, 42, 105, 0.25);
}

.card_list {
    display: flex;
    flex-direction: column;
}

.card_title {
    min-height: 3rem;
}

.card_list:hover {
    transform: scale(1.025);
    box-shadow: 0 0.75rem 1.5rem rgba(86, 42, 105, 0.3);
}

/* Comparazione */
.compare_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

.compare {
    width: 80%;
    background-color: #ededed;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    position: relative
}

.logo_compare {
    width: 110px;
    right: 44.3%;
    top: 40%;
    position: absolute;
}

.compare_card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    background-color: var(--dd-white);
    border: 2px solid var(--dd-secondary-dark)
}

.description {
    flex: 1;
}

.close_compare {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px
}

/* Sidebar */
#offcanvas {
    width: 300px;
    background-color: #ededed;
}

.favorite_btn {
    font-size: 1.25rem;
    background-color: var(--dd-secondary-light);
    padding: 0.25rem;
    border: none;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 300px;
    top: 50%;
    visibility: visible
}